**function mean**

In [54]:
def sms(input_list):
    all_sum = sum(input_list)
    mean = all_sum/len(input_list)
    return mean

In [56]:
sms([1,2,3,4])

2.5

**sum**

In [18]:
def add_number(num1, num2):
    l_sum = num1 +num2
    return l_sum

In [20]:
add_number(1,2)

3

**defult**

In [32]:
def greet(name,greeting = "Hello"):
    message = f"{name}, {greeting}!"
    return message

In [34]:
greet('sita')

'sita, Hello!'

**arguments**

In [11]:
def my(*args):
    print (*args)

In [13]:
my(1,2,'name')

1 2 name

**key arguments**

In [27]:
def hy(**keargs):
    print (keargs)

In [29]:
hy(name="John", age=25)

{'name': 'John', 'age': 25}

**mean square error**

In [32]:
def mean_sq_err(*error):
    total = sum(error)
    mean = total/len(error)
    return mean

In [42]:
mean_sq_err(*[50,60,70,90,9])

55.8

In [44]:
mean_sq_err(10,20,30)

20.0

**key argument**

In [49]:
def create_model(name, **kwargs):
    model_name = name
    model_size = kwargs['size']
    model_type = kwargs['type']

    return {name : f"{model_type}_{model_size}"}

In [51]:
create_model('car', size = 4000, type = 'suv')

{'car': 'suv_4000'}

**default**

In [5]:
def create_model(name, **kwargs):
    """name is name"""
    model_name = name
    model_size = kwargs['size']
    model_type = kwargs.get('type','linear')


    return {name : f"{model_type}_{model_size}"}

In [3]:
 create_model('car', size = 4000)

{'car': 'linear_4000'}

***Question: Default Parameter Values
**Write a Program to Define a Function `power`** that takes two arguments, `base` and `exp`. The function should return `base` raised to the power of `exp`.
 
If `exp` is not provided, it should default to 2. Call this function with and without the second argument and print the results.***

**with documentation**

In [32]:
def power(base,exp=2): 
    """
    Calculate the power of a number.
    
    Parameters:
    base (int, float): The base number.
    exp (int, float, optional): The exponent to raise the base to. Default is 2.
    
    Returns:
    int, float: The result of raising the base to the power of exp.
    
    Example:
    >>> power(3)
    9
    >>> power(2, 3)
    8
    """
    result = base ** exp
    return result
power(3)

9

In [16]:
power(6,3)

216